<!-- templates/orders/orders_list.html -->
{% extends 'base.html' %}
{% load humanize %} 
{% load static %}

{% block title %} Orders List{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4> Orders List</h4>
      <h6>Manage Orders</h6>
    </div>
    <div class="page-btn">
      <a href="{% url "orders:bill-create" %}" class="btn btn-added"><img src="{% static "assets/img/icons/plus.svg" %}" alt="img">Add Orders</a>
    </div>
  </div>
  <!-- /product list -->
  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="{% static "assets/img/icons/filter.svg" %}" alt="img">
              <span><img src="{% static "assets/img/icons/closes.svg" %}" alt="img"></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"><img src="{% static "assets/img/icons/search-white" %}.svg" alt="img"></a>
          </div>
        </div>
        {% comment %}<div class="wordset">
          <ul>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static "assets/img/icons/pdf.svg" %}" alt="img"></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static "assets/img/icons/excel.svg" %}" alt="img"></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static "assets/img/icons/printer.svg" %}" alt="img"></a>
            </li>
          </ul>
        </div> {% endcomment %}
      </div>
    
      <div class="table-responsive">
        <table class="table datanew" id="ordersDataTable">
          <thead>
            <tr>
              <th>Order</th>
              <th>Vendor Name</th>
              <th>Total Cost</th>
              <th>Created At</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for order in bills %}
              <tr>
                <td><a href="{% url 'orders:bill-update' order.pk %}"><span class="fw-bold">{{order.order_repr}}</span></a></td>
                <td>{{order.customer.name}}</a></td>
                <td>{{order.total}}</td>
                <td>{{order.created_at|naturaltime}}</td>
                <td>{% if order.status == "complete" %}<span class="badges bg-lightgreen">Completed</span> {% else %}<span class="badges bg-lightred">Pending</span>{% endif %}</td>
                <td>
                  <a class="me-3" href="{% url 'orders:bill-update' order.pk %}">
                    <img src="{% static "assets/img/icons/edit.svg" %}" alt="img">
                  </a>
                  <a class="me-3" href="{% url 'orders:bill-delete' order.pk %}">
                    <img src="{% static "assets/img/icons/delete.svg" %}" alt="img">
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /product list -->
</div>
{% endblock content %}

{% block js %}
{% comment "" %}
<script src="{% static "assets/plugins/sweetalert/sweetalerts.min.js" %}"></script> {% endcomment %}
<!-- Datatable JS -->
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script>

{% endblock js %}
