<!-- templates/customers/customer_list.html -->
{% extends 'base.html' %}
{% load humanize %} 
{% load static %}

{% block title %}Customer List{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Customer List</h4>
      <h6>Manage your Customers</h6>
    </div>
    <div class="page-btn">
      <a href="{% url "customers:customer-create" %}" class="btn btn-added"><img src="{% static "assets/img/icons/plus.svg" %}" alt="img">Add Customer</a>
    </div>
  </div>
  <!-- /product list -->
  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="{% static "assets/img/icons/filter.svg" %}" alt="img">
              <span><img src="{% static "assets/img/icons/closes.svg" %}" alt="img"></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"><img src="{% static "assets/img/icons/search-white" %}.svg" alt="img"></a>
          </div>
        </div>
        {% comment %}<div class="wordset">
          <ul>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static "assets/img/icons/pdf.svg" %}" alt="img"></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static "assets/img/icons/excel.svg" %}" alt="img"></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static "assets/img/icons/printer.svg" %}" alt="img"></a>
            </li>
          </ul>
        </div> {% endcomment %}
      </div>
      {% comment %} <!-- /Filter -->
      <div class="card" id="filter_inputs">
        <div class="card-body pb-0">
          <div class="row">
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Enter Customer Code">
              </div>	
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Enter Customer Name">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Enter Phone Number">
              </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-12">
              <div class="form-group">
                <input type="text" placeholder="Enter Email">
              </div>
            </div>
            <div class="col-lg-1 col-sm-6 col-12  ms-auto">
              <div class="form-group">
                <a class="btn btn-filters ms-auto"><img src="{% static "assets/img/icons/search-whites.svg" %}" alt="img"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Filter --> {% endcomment %}
      <div class="table-responsive">
        <table class="table datanew" id="customerDataTable">
          <thead>
            <tr>
              <th>
                <label class="checkboxs">
                  <input type="checkbox" id="select-all">
                  <span class="checkmarks"></span>
                </label>
              </th>
              <th>Customer Name</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
              <tr>
                <td>
                  <label class="checkboxs">
                    <input type="checkbox">
                    <span class="checkmarks"></span>
                  </label>
                </td>
                <td class="productimgname">
                  <a href="javascript:void(0);" class="product-imgs">
                    {{customer.name.0}}
                  </a>
                  <a href="{% url 'customers:customer-update' customer.pk %}">{{customer.name}}</a>
                </td>
                <td>+91 {{customer.mobile}}</td>
                <td><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a6d2cec9cbc7d5e6c3dec7cbd6cac388c5c9cb">{{customer.email}}</a></td>
                <td>{{customer.created_at|naturaltime}}</td>
                <td>
                <a class="me-3" href="{% url 'customers:customer-update' customer.pk %}">
                  <img src="{% static "assets/img/icons/edit.svg" %}" alt="img">
                </a>
                <a class="me-3" href="{% url 'customers:customer-delete' customer.pk %}">
                  <img src="{% static "assets/img/icons/delete.svg" %}" alt="img">
                </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /product list -->
</div>
{% endblock content %}

{% block js %}

<!-- Datatable JS -->
{% comment %} <script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script> {% endcomment %}
{% comment %} <script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>

<!-- Select2 JS -->
<script src="{% static "assets/plugins/select2/js/select2.min.js" %}"></script>

<!-- Datetimepicker JS -->
<script src="{% static "assets/js/moment.min.js"%}"></script>
<script src="{% static "assets/js/bootstrap-datetimepicker.min.js" %}"></script>

 {% endcomment %}

<!-- Datatable JS -->
{% comment %} <script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script> 
<script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script> {% endcomment %}

<!-- Sweetalert 2 -->
{% comment %} <script src="{% static "assets/plugins/sweetalert/sweetalert2.all.min.js" %}"></script>
<script src="{% static "assets/plugins/sweetalert/sweetalerts.min.js" %}"></script> {% endcomment %}
<!-- Datatable JS -->
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script>

{% endblock js %}
