<!-- templates/customers/customer_confirm_delete.html -->
{% extends 'base.html' %}

{% block title %}Delete Customer{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Customer Management</h4>
      <h6>Delete Customer</h6>
    </div>
  </div>
  <!-- /add -->
  <div class="card">
    <div class="card-body">
      <h5>Are you sure you want to delete customer <span class="fw-bold">"{{ customer.name }}"</span>?</h5>
    <br/>
      <form method="post" action="{% url 'customers:customer-delete' customer.pk %}">
      {% csrf_token %}
        <div class="col-lg-12">
          <button class="btn btn-delete me-2" type="submit">Delete</button>
          {% comment %} <button class="btn btn-submit me-2" type="submit">Confirm</button> {% endcomment %}
          <a href="javascript:void(0);" onclick="history.back();" class="btn btn-cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <!-- /add -->
</div>
{% endblock content %}