<!-- templates/Materials/Material_form.html -->
{% extends 'base.html' %}

{% block title %}{% if material %}Edit{% else %}Create{% endif %} Material{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Material Management</h4>
      <h6>Add/Update Material</h6>
    </div>
  </div>
  <!-- /add -->
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            {{ form.name.label_tag }}
            {{ form.name }}
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            {{ form.units.label_tag }}
            {{ form.units }}
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            {{ form.price.label_tag }}
            {{ form.price }}
          </div>
        </div>
        {% comment %} <div class="col-lg-12">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control"></textarea>
          </div>
        </div> {% endcomment %}
        <div class="col-lg-12">
          <button class="btn btn-submit me-2" type="submit">Submit</button>
          <a href="javascript:void(0);"  class="btn btn-cancel">Cancel</a>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!-- /add -->
</div>
{% endblock content %}