{% extends 'base.html' %}

<!-- templates/branches/branch_list.html -->

{% load humanize %} 
{% load static %}

{% block title %}Branch List{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Branch List</h4>
      <h6>Manage Branches</h6>
    </div>
    <div class="page-btn">
      <a href="{% url 'branches:branch-create' %}" class="btn btn-added"><img src="{% static "assets/img/icons/plus.svg" %}" alt="img">Add Branch</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="{% static "assets/img/icons/filter.svg" %}" alt="img">
              <span><img src="{% static "assets/img/icons/closes.svg" %}" alt="img"></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"><img src="{% static "assets/img/icons/search-white" %}.svg" alt="img"></a>
          </div>
        </div>
        {% comment %}<div class="wordset">
          <ul>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static "assets/img/icons/pdf.svg" %}" alt="img"></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static "assets/img/icons/excel.svg" %}" alt="img"></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static "assets/img/icons/printer.svg" %}" alt="img"></a>
            </li>
          </ul>
        </div> {% endcomment %}
      </div>
      <div class="table-responsive">
        <table class="table datanew" id="branchDataTable">
          <thead>
            <tr>
              <th>Branch</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for branch in branches %}
            <tr>
              <td>
                <a href="{% url 'branches:branch-update' branch.pk %}">{{ branch.name|capfirst }}</a>
              </td>
              <td>
                {{branch.created_at|naturaltime}}
              <td>
                <a class="me-3" href="{% url 'branches:branch-update' branch.pk %}">
                  <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                </a>
                <a class="me-3" href="{% url 'branches:branch-delete' branch.pk %}">
                  <img src="{% static 'assets/img/icons/delete.svg' %}" alt="img">
                </a>
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<!-- Datatable JS -->
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script>

<!-- Bootstrap Core JS -->
<script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>

<!-- Initiate Datatable -->
<script>
  $(document).ready(function () {
    $('#branchDataTable').DataTable();
  });
</script>
{% endblock js %}
