{% extends 'base.html' %}
{% load humanize %} 
{% load static %}

{% block title %}Category List{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Category List</h4>
      <h6>Manage Categories</h6>
    </div>
    <div class="page-btn">
      <a href="{% url "items:category-create" %}" class="btn btn-added"><img src="{% static "assets/img/icons/plus.svg" %}" alt="img">Add Category</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="{% static "assets/img/icons/filter.svg" %}" alt="img">
              <span><img src="{% static "assets/img/icons/closes.svg" %}" alt="img"></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"><img src="{% static "assets/img/icons/search-white" %}.svg" alt="img"></a>
          </div>
        </div>
        {% comment %}<div class="wordset">
          <ul>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static "assets/img/icons/pdf.svg" %}" alt="img"></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static "assets/img/icons/excel.svg" %}" alt="img"></a>
            </li>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static "assets/img/icons/printer.svg" %}" alt="img"></a>
            </li>
          </ul>
        </div> {% endcomment %}
      </div>
      <div class="table-responsive">
        <table class="table datanew" id="categoryDataTable">
          <thead>
            <tr>
              <th>Category Title</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
              <tr>
                <td>
                  <a href="{% url 'items:category-update' category.pk %}">{{ category.title|capfirst }}</a>
                </td>
                <td>
                  {{category.created_at|naturaltime}}
                </td>
                <td>
                  <a class="me-3" href="{% url 'items:category-update' category.pk %}">
                    <img src="{% static "assets/img/icons/edit.svg" %}" alt="img">
                  </a>
                  <a class="me-3" href="{% url 'items:category-delete' category.pk %}">
                    <img src="{% static "assets/img/icons/delete.svg" %}" alt="img">
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<!-- Datatable JS -->
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script>

<!-- Initiate Datatable -->
<script>
  $(document).ready(function () {
    $('#categoryDataTable').DataTable();
  });
</script>

<script>
  // Server Side Errors If any
  $(document).ready(function(){
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == "error" %}
          toastr.error("{{message}}", "Error!", { timeOut: 5e3, rtl: false });
        {% else %}
          toastr.success("{{message}}", "Success", { timeOut: 5e3, rtl: false });
        {% endif %}
      {% endfor %}
    {% endif %}
  });
</script>

{% endblock js %}
