{% extends 'base.html' %}

{% comment %} {% block title %}Delete Section{% endblock %}

{% block content %}
  <h2>Delete Section</h2>
  <p>Are you sure you want to delete section "{{ section.title }}"?</p>
  <form method="post" action="{% url 'items:section-delete' section.pk %}">
    {% csrf_token %}
    <button type="submit">Confirm</button>
  </form>
  <a href="{% url 'items:section-list' %}">Cancel</a>
{% endblock %} {% endcomment %}

{% block title %}Delete Section{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Section Management</h4>
      <h6>Delete Section</h6>
    </div>
  </div>
  <!-- /delete -->
  <div class="card">
    <div class="card-body">
      <h5>Are you sure you want to delete section "{{ section.title }}"?</h5>
      <br/>
      <form method="post" action="{% url 'items:section-delete' section.pk %}">
        {% csrf_token %}
        <div class="col-lg-12">
          <button class="btn btn-submit me-2" type="submit">Confirm</button>
          <a href="javascript:void(0);" onclick="history.back();" class="btn btn-cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <!-- /delete -->
</div>
{% endblock content %}
