{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
    <meta name="author" content="Dreamguys">
    <meta name="robots" content="noindex, nofollow">
    <title>{% block title %}Login - Chandra Caterers{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static "assets/plugins/toastr/toatr.css" %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body class="account-page">
    <div class="main-wrapper">
        <div class="account-content">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <!-- Mask JS -->
    <script src="{% static "assets/plugins/toastr/toastr.min.js" %}"></script>
    <script src="{% static "assets/plugins/toastr/toastr.js" %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>

