{% extends 'base.html' %}
<!-- templates/branches/branch_list.html -->
{% load humanize %} 
{% load static %}

{% block title %}Operating Hour List{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Operating Hours List</h4>
      <h6>Manage Operating Hours</h6>
    </div>
    {% comment %} <div class="page-btn">
      <a href="{% url 'branches:branch-create' %}" class="btn btn-added"><img src="{% static "assets/img/icons/plus.svg" %}" alt="img">Add Branch</a>
    </div> {% endcomment %}
  </div>

  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="{% static "assets/img/icons/filter.svg" %}" alt="img">
              <span><img src="{% static "assets/img/icons/closes.svg" %}" alt="img"></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"><img src="{% static "assets/img/icons/search-white" %}.svg" alt="img"></a>
          </div>
        </div>
        
      </div>
      <div class="table-responsive">
        <table class="table datanew" id="operatingHourDataTable">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Availabile Duration</th>
              <th>Tags</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for operating_hour in operatinghours %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ operating_hour.title }}</td>
                <td>{{ operating_hour.from_time }} - {{ operating_hour.to_time }}</td>
                <td>{{ operating_hour.get_tags_display }}</td>
                <td>
                  <!-- Links to update and delete Operating Hour -->
                  <a class="me-3" href="{% url 'items:operating-hour-update' operating_hour.pk %}">
                    <img src="{% static 'assets/img/icons/edit.svg' %}" alt="img">
                  </a>
                  
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<!-- Datatable JS -->
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script>

<!-- Initiate Datatable -->
<script>
  $(document).ready(function () {
    $('#operatingHourDataTable').DataTable();
  });
</script>

<script>
  // Server Side Errors If any
  $(document).ready(function(){
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == "error" %}
          toastr.error("{{message}}", "Error!", { timeOut: 5e3, rtl: false });
        {% else %}
          toastr.success("{{message}}", "Success", { timeOut: 5e3, rtl: false });
        {% endif %}
      {% endfor %}
    {% endif %}
  });
</script>
{% endblock js %}