{% extends 'base.html' %}

{% comment %} {% block title %}{% if operatinghour %}Update{% else %}Create{% endif %} Operating Hour{% endblock %}

{% block content %}
  <h2>{% if operatinghour %}Update{% else %}Create{% endif %} Operating Hour</h2>
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>
  <a href="{% url 'items:operating-hour-list' %}">Back to Operating Hour List</a>
{% endblock %} {% endcomment %}
{% block title %}{% if operatinghour %}Edit{% else %}Create{% endif %} Operating Hour{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Operating Hour Management</h4>
      <h6>{% if operatinghour %}Edit{% else %}Create{% endif %} Operating Hour</h6>
    </div>
  </div>
  <!-- /add -->
  <div class="card">
    <div class="card-body">
      {% if operatinghour %}
        <form method="post">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
              </div>
            </div>
            
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                {{ form.from_time.label_tag }}
                {{ form.from_time }}
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                {{ form.to_time.label_tag }}
                {{ form.to_time }}
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
              <div class="form-group">
                {{ form.tags.label_tag }}
                {{ form.tags }}
              </div>
            </div>
            <!-- Add other fields as needed -->
            <div class="col-lg-12">
              <button class="btn btn-submit me-2" type="submit">Submit</button>
              <a href="{% url "items:operating-hour-list" %}" class="btn btn-cancel">Cancel</a>
            </div>
          </div>
        </form>
      {% else %}
        <p>Creation of new Operating Hours is not allowed.</p>
        <a href="{% url "items:operating-hour-list" %}" class="btn btn-cancel">Back</a>
      {% endif %}
    </div>
  </div>
  <!-- /add -->
</div>
{% endblock content %}

