{% extends 'base.html' %}
{% load static %}


{% block title %}{% if item %}Edit{% else %}Create{% endif %} Item{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Item Management</h4>
      <h6>{% if item %}Edit{% else %}Create{% endif %} Item</h6>
    </div>
  </div>
  <!-- /add -->
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <!-- Your form fields go here -->
        {{ form.as_p }}

        {% comment %} <div class="row">
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              {{ form.name.label_tag }}
              {{ form.name }}
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              {{ form.section.label_tag }}
              {{ form.section }}
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              {{ form.category.label_tag }}
              {{ form.category }}
            </div>
          </div>
          
          <div class="col-lg-3 col-sm-6 col-12">
            <div class="form-group">
              {{ form.base_price.label_tag }}
              {{ form.base_price }}
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-3 col-sm-6 col-12">
          <div class="form-group">
            {{ form.operation_hour.label_tag }}
            {{ form.operation_hour }}
          </div>
        </div>
          <div class="col-lg-9">
            <div class="form-group">
              {{ form.desc.label_tag }}
              {{ form.desc }}
            </div>
          </div>
        </div> {% endcomment %}
        <div class="col-lg-12">
          <button class="btn btn-submit me-2" type="submit">Submit</button>
          <a href="{% url "items:item-list" %}" class="btn btn-cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <!-- /add -->
</div>
{% endblock content %}



{% block js %}

{% comment %} <!-- Select2 JS -->
<script src="{% static "assets/plugins/select2/js/select2.min.js" %}"></script>
<script src="{% static "assets/plugins/select2/js/custom-select.js" %}"></script>

<script>
  $(document).ready(function() {
      $('.tagging').select2();
  });
</script> {% endcomment %}
{% endblock js %}