{% extends 'base.html' %}

{% load humanize %} 
{% load static %}

{% block title %}Item List{% endblock %}

{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Item List</h4>
      <h6>Manage Items</h6>
    </div>
    <div class="page-btn">
      <a href="{% url "items:item-create" %}" class="btn btn-added"><img src="{% static "assets/img/icons/plus.svg" %}" alt="img">Add Item</a>
    </div>
  </div>
  <!-- /item list -->
  <div class="card">
    <div class="card-body">
      <div class="table-top">
        <div class="search-set">
          <div class="search-path">
            <a class="btn btn-filter" id="filter_search">
              <img src="{% static "assets/img/icons/filter.svg" %}" alt="img">
              <span><img src="{% static "assets/img/icons/closes.svg" %}" alt="img"></span>
            </a>
          </div>
          <div class="search-input">
            <a class="btn btn-searchset"><img src="{% static "assets/img/icons/search-white" %}.svg" alt="img"></a>
          </div>
        </div>
        {% comment %}
          <div class="wordset">
            <ul>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static "assets/img/icons/pdf.svg" %}" alt="img"></a>
              </li>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static "assets/img/icons/excel.svg" %}" alt="img"></a>
              </li>
              <li>
                <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static "assets/img/icons/printer.svg" %}" alt="img"></a>
              </li>
            </ul>
          </div> 
        {% endcomment %}
      </div>
      <div class="table-responsive">
        <table class="table datanew" id="itemDataTable">
          <thead>
            <tr>
              <th>Item Name</th>
              <th>Section</th>
              <th>Category</th>
              <th>Base Price</th>
              <th>Tax</th>
              <th>Selling Price</th>
              {% comment %} <th>Operation Hour</th> {% endcomment %}

              {% comment %} <th>Selling Price</th> {% endcomment %}
              <th>Active</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
              <tr>
                <td><span class="fw-bold">{{ item.name }}</span></td>
                <td>{{ item.section|default_if_none:"-"|capfirst }}</td>
                <td>{{ item.category|default_if_none:"-"|capfirst }}</td>
                <td>{{ item.base_price }}</td>
                <td>{{ item.tax }}</td>
                <td>{{ item.selling_price }}</td>
                {% comment %} <td>
                  <div class="status-toggle d-flex justify-content-between align-items-center">
                    <input type="checkbox" id="user1" class="check" {% if item.is_active %} checked	{% endif %}>
                    <label for="user1" class="checktoggle">checkbox</label>
                  </div>
                </td> {% endcomment %}
                <td>{% if item.is_active %}<span class="badges bg-lightgreen">Active</span>{% else %}<span class="badges bg-lightred">Inactive</span>{% endif %}</td>
                {% comment %} <td>{{ item.selling_price }}</td> {% endcomment %}
                <td>
                  <a class="me-3" href="{% url 'items:item-update' item.pk %}">
                    <img src="{% static "assets/img/icons/edit.svg" %}" alt="img">
                  </a>
                  <a class="me-3" href="{% url 'items:item-delete' item.pk %}">
                    <img src="{% static "assets/img/icons/delete.svg" %}" alt="img">
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /item list -->
</div>
{% endblock content %}

{% block js %}
<!-- Datatable JS -->
<script src="{% static "assets/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "assets/js/dataTables.bootstrap4.min.js" %}"></script>
{% endblock js %}

