{% extends 'base.html' %}
{% block title %}Delete Item{% endblock %}
{% block content %}
<div class="content">
  <div class="page-header">
    <div class="page-title">
      <h4>Item Management</h4>
      <h6>Delete Item</h6>
    </div>
  </div>
  <!-- /add -->
  <div class="card">
    <div class="card-body">
      <h5>Are you sure you want to delete an item "{{ item.name }}"?</h5>
    <br/>
      <form method="post" action="{% url 'items:item-delete' item.pk %}">
      {% csrf_token %}
        <div class="col-lg-12">
          <button class="btn btn-delete me-2" type="submit">Delete</button>
          <a href="javascript:void(0);" onclick="history.back();" class="btn btn-cancel">Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <!-- /add -->
</div>
{% endblock content %}