<!-- templates/users/customuser_form.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}{% if customuser %}Edit{% else %}Create{% endif %} User{% endblock %}

{% block css %}
<!-- Select2 CSS -->
<link rel="stylesheet" href="{% static "admin/css/vendor/select2/css/select2.min.css" %}">
{% comment %} <link rel="stylesheet" href="{% static "assets/plugins/select2/css/select2.min.css" %}"> {% endcomment %}
{% comment %} <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> {% endcomment %}
{% endblock  %}

{% block content %}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>User Management</h4>
            <h6>{% if customuser %}Edit{% else %}Create{% endif %} User</h6>
        </div>
    </div>
    <!-- /add -->
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            {{ form.assigned_branch.label_tag }}
                            {{ form.assigned_branch }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-12">
                        <div class="form-group">
                            {{ form.mobile_no.label_tag }}
                            {{ form.mobile_no }}
                        </div>
                    </div>
                    {% comment %} <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            {{ form.password1.label_tag }}
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            {{ form.password2.label_tag }}
                            {{ form.password2 }}
                        </div>
                    </div> {% endcomment %}
                    <!-- Add other fields as needed -->
                    <div class="col-lg-12">
                        <button class="btn btn-submit me-2" type="submit">Submit</button>
                        <a href="{% url "users:user-list" %}" class="btn btn-cancel">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /add -->
</div>
{% endblock content %}

{% block js %}
<!-- Select2 JS -->
{% comment %} <script src="{% static "assets/plugins/select2/js/select2.min.js" %}"></script>
<script src="{% static "assets/plugins/select2/js/custom-select.js" %}"></script> {% endcomment %}
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
    // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function() {
        $('.select-branch').select2({
                allowClear:true,
                placeholder: 'Position',
            });
        });
    </script> {% endcomment %}
{% endblock js %}

